# Заполним пропуски

Пропуски есть в near_metro и class

# Near metro
## Заполним через api yandex "поиск по организациям"

In [1]:
import json
import geopy.distance as distance
import pandas as pd
import requests

In [2]:
data = pd.read_csv('../result.csv')

In [3]:
def get_near_metro(lon, lat, api_key):
    req_text = 'https://search-maps.yandex.ru/v1/?text=метро&ll=' + str(lon) + "," + str(lat) + '&lang=ru_RU&results=1&apikey=' + api_key
    ans = json.loads(requests.get(req_text).text)
    try:
        metro_lon, metro_lat = ans['features'][0]['geometry']['coordinates']
        result = distance.vincenty((lon, lat), (metro_lon, metro_lat)).m
    except:
        result = np.nan
    return result

In [4]:
null_metro = data[data['near_metro'].isnull()]

In [5]:
null_metro.head(2)

,Unnamed: 0,size,class,address,price,pledge,descr,metros,near_metro,url,parking,internet,meal,security,comfort,lat,lon,distance
39,1002926616,57.0,NaN,"Петровско-Разумовская, Лихоборская наб 7",685,0,Сдаются офис склад на территории бывшего про...,NaN,NaN,https://www.avito.ru/moskva/kommercheskaya_ned...,1,0,0,0,0,55.854411,37.529070,0.20401
56,1690633446,39.0,NaN,"Автозаводская, Кожуховский 2-й проезд 29к2с...",1085,0,ДО КОНЦА 2018 ГОДА МЕСЯЦ АРЕНДЫ ЭТОГО ПОМЕЩЕ...,NaN,NaN,https://www.avito.ru/moskva/kommercheskaya_ned...,1,0,0,1,1,55.698391,37.658248,0.09784

In [6]:
with open('../apies/yandex_organization_search_api.txt') as f:
    apikey = f.readline()

Через API можно отправлять только 500 запросов, раз в сутки

In [7]:
for index, row in null_metro.iterrows():
    null_metro.at[index, 'near_metro'] = get_near_metro(row['lon'], row['lat'], apikey)

In [10]:
data[data['near_metro'].isnull()] = null_metro
data.to_csv('got_near_metro.csv')

# Class

In [18]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import cross_val_score
import numpy as np
import pandas as pd

In [3]:
data = pd.read_csv('got_near_metro.csv')

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3155 entries, 0 to 3154
Data columns (total 14 columns):
Unnamed: 0    3155 non-null int64
size          3155 non-null float64
class         1954 non-null object
price         3155 non-null int64
pledge        3155 non-null int64
near_metro    3155 non-null float64
parking       3155 non-null int64
internet      3155 non-null int64
meal          3155 non-null int64
security      3155 non-null int64
comfort       3155 non-null int64
lat           3155 non-null float64
lon           3155 non-null float64
distance      3155 non-null float64
dtypes: float64(5), int64(8), object(1)
memory usage: 345.2+ KB

In [5]:
data.head(5)

,Unnamed: 0,size,class,price,pledge,near_metro,parking,internet,meal,security,comfort,lat,lon,distance
0,0,28.8,NaN,1354,39000,700.0,0,0,0,0,1,55.745093,37.664815,0.09581
1,1,588.2,NaN,850,500000,700.0,1,0,0,0,1,55.745093,37.664815,0.09581
2,2,45.0,NaN,1111,50000,200.0,1,0,0,1,0,55.759659,37.752850,0.27184
3,3,100.0,NaN,1700,170000,700.0,1,0,0,1,0,55.569026,37.588647,0.19060
4,4,190.0,NaN,789,150000,1200.0,0,1,0,0,0,55.757496,37.802086,0.37023

In [8]:
#data = data.drop(['Unnamed: 0', 'Unnamed: 0.1', 'address', 'descr', 'metros', 'url'], axis=1)
# ты мне, видимо, другую версию кинул с меньшим числом столбцов
data = data.drop(['Unnamed: 0'], axis=1)
data.head(5)

,size,class,price,pledge,near_metro,parking,internet,meal,security,comfort,lat,lon,distance
0,28.8,NaN,1354,39000,700.0,0,0,0,0,1,55.745093,37.664815,0.09581
1,588.2,NaN,850,500000,700.0,1,0,0,0,1,55.745093,37.664815,0.09581
2,45.0,NaN,1111,50000,200.0,1,0,0,1,0,55.759659,37.752850,0.27184
3,100.0,NaN,1700,170000,700.0,1,0,0,1,0,55.569026,37.588647,0.19060
4,190.0,NaN,789,150000,1200.0,0,1,0,0,0,55.757496,37.802086,0.37023

Цена является целевой переменной, поэтому использовать ее для заполнения пропусков нельзя.

Нужно разделить на обучающую и целевую выборку.

In [9]:
null_classes = data[data['class'].isnull()].drop(['price'], axis=1)
not_null_classes = data[~data['class'].isnull()].drop(['price'], axis=1)

Заполним Nan-ы knn - ом.

In [10]:
null_classes.head(5)

,size,class,pledge,near_metro,parking,internet,meal,security,comfort,lat,lon,distance
0,28.8,NaN,39000,700.0,0,0,0,0,1,55.745093,37.664815,0.09581
1,588.2,NaN,500000,700.0,1,0,0,0,1,55.745093,37.664815,0.09581
2,45.0,NaN,50000,200.0,1,0,0,1,0,55.759659,37.752850,0.27184
3,100.0,NaN,170000,700.0,1,0,0,1,0,55.569026,37.588647,0.19060
4,190.0,NaN,150000,1200.0,0,1,0,0,0,55.757496,37.802086,0.37023

In [12]:
not_null_classes.head(5)

,size,class,pledge,near_metro,parking,internet,meal,security,comfort,lat,lon,distance
5,31.5,b,33000,300.0,1,0,0,0,1,55.635396,37.436661,0.37875
6,143.5,b,191333,500.0,1,0,1,1,7,55.776198,37.675604,0.11989
8,20.4,b,47000,800.0,1,1,1,1,7,55.722918,37.468793,0.29774
11,1021.0,a,0,300.0,0,0,0,1,6,55.761983,37.606846,0.02309
13,72.3,b,0,500.0,1,0,1,1,4,55.720489,37.615452,0.03067

In [48]:
ohe_features = ['parking', 'internet', 'meal', 'security']
X_data = not_null_classes.drop(['class'], axis=1)
X_data.drop(ohe_features, axis=1, inplace=True)
y_data = not_null_classes['class'].copy()
scaler = StandardScaler()
X_data = scaler.fit_transform(X_data)
for feature in ohe_features:
    X_data = np.append(X_data, np.array([not_null_classes[feature]]).T, axis=1)
print(pd.DataFrame(X_data).head(5))

         0         1         2         3         4         5         6    7   \
0 -0.294019 -0.230755 -0.850470 -0.802013 -1.708711 -1.948412  2.011791  1.0
1 -0.077594  0.077495 -0.510802  1.752402  0.421493  0.679632 -0.371952  1.0
2 -0.315468 -0.203499 -0.001300  1.752402 -0.384584 -1.595005  1.265801  1.0
3  1.618061 -0.295001 -0.850470  1.326666  0.206433 -0.076612 -1.263346  0.0
4 -0.215178 -0.295001 -0.510802  0.475194 -0.421333  0.018042 -1.193545  1.0

    8    9    10
0  0.0  0.0  0.0
1  0.0  1.0  1.0
2  1.0  1.0  1.0
3  0.0  0.0  1.0
4  0.0  1.0  1.0

In [14]:
# X_data = not_null_classes.drop(['class'], axis=1)
# y_data = not_null_classes['class'].copy()
# scaler = StandardScaler()
# X_data = scaler.fit_transform(X_data)
# X_data

        size  pledge  near_metro  parking  internet  meal  security  comfort  \
5       31.5   33000       300.0        1         0     0         0        1
6      143.5  191333       500.0        1         0     1         1        7
8       20.4   47000       800.0        1         1     1         1        7
11    1021.0       0       300.0        0         0     0         1        6
13      72.3       0       500.0        1         0     1         1        4
14     114.0       0       100.0        1         1     0         1        3
15     163.6  572600       100.0        1         1     0         0        2
17      25.0       0      1500.0        1         0     1         1        2
19     155.0       0       100.0        1         0     0         1        4
21     144.4  556000       100.0        0         0     1         0        0
22      71.0   97000       700.0        0         0     0         0        2
29    1387.0    2500       800.0        1         0     0         1        1
30      38.9   32417      2000.0        1         1     1         1        3
32     160.0  146000       600.0        1         1     0         1        2
33      50.0   67000       300.0        1         1     1         1        7
35     317.0  528400       600.0        1         1     1         1        5
37      22.8   20900      2000.0        1         1     1         1        3
41      98.0   98000      1400.0        1         0     1         1        8
42     130.0  115000       400.0        1         0     0         1        3
43      61.0   61000       800.0        0         0     0         0        5
44      76.0   65000      1000.0        1         0     0         1        5
47      50.0   45000      1000.0        0         0     0         1        0
48     125.1  112590       700.0        1         1     0         1        4
50       9.2       0       300.0        1         0     1         1        1
51      51.0       0       400.0        1         0     1         1        1
52      33.8       0       400.0        1         0     1         1        0
53      15.0   10000       500.0        1         0     1         0        2
55      17.0   26000       300.0        0         1     0         1        4
57     572.0   10593       500.0        0         1     0         0        1
58     189.6  220000       900.0        1         1     0         0        1
...      ...     ...         ...      ...       ...   ...       ...      ...
3095   411.0       0       600.0        0         1     0         1        2
3096    20.0   40000       800.0        0         0     0         0        1
3097    41.8   42775       500.0        0         0     0         0        1
3098    15.0       0       400.0        0         0     0         0        2
3100    70.0  140000       800.0        0         1     1         1        9
3101    52.0   94008       800.0        1         0     1         0        2
3102    68.1  130175       800.0        1         0     1         0        2
3103   149.4  320625       800.0        1         0     1         0        2
3104   124.9  227740       800.0        1         0     1         0        2
3105   128.3  255060       800.0        1         0     1         0        2
3106   130.3  274230       800.0        1         0     1         0        8
3109   282.4  350000       200.0        0         1     0         0        2
3111    14.2   17500       500.0        1         0     0         0        1
3112    48.0   60000       300.0        1         0     0         0        1
3113    18.2   22500       400.0        1         0     0         0        1
3119    40.0   25000      1200.0        0         0     0         1        2
3121   130.0    1150      1200.0        1         0     1         0        2
3122    60.6    1150      1200.0        1         0     1         0        2
3123    82.2    1150      1200.0        1         0     1         0        1
3124    58.3     950      1000.0        1         0     1         0        2
3125    20.0   25000      1500.0        1         0     1         0        2
3126    53.2  108522       800.0        1         0     1         0        2
3130    21.0       0       600.0        0         0     1         1        1
3141    50.0    5000       100.0        0         1     0         0        1
3142    33.2   13200      1500.0        0         0     0         1        3
3146   233.2  194333       900.0        1         1     0         1        2
3147    50.4       0      1100.0        0         0     0         0        1
3149    27.6   20000       300.0        1         0     1         0        3
3150   220.0       0      1100.0        1         0     0         0        1
3151   976.0   26000       600.0        1         0     1         1        8

            lat        lon  distance
5     55.635396  37.436661   0.37875
6     55.776198  37.675604   0.11989
8     55.722918  37.468793   0.29774
11    55.761983  37.606846   0.02309
13    55.720489  37.615452   0.03067
14    55.773317  37.631927   0.03727
15    55.780588  37.602391   0.04158
17    55.867384  37.581523   0.13631
19    55.755814  37.617635   0.00498
21    55.782724  37.717815   0.20411
22    55.650145  37.539626   0.18471
29    55.746846  37.663126   0.09235
30    55.893460  37.556325   0.18714
32    55.704453  37.728532   0.22787
33    55.782623  37.723367   0.21507
35    55.682651  37.661913   0.11287
37    55.893460  37.556325   0.18714
41    55.874607  37.587865   0.13665
42    55.685269  37.628756   0.06981
43    55.860509  37.483229   0.28909
44    55.648214  37.540847   0.18374
47    55.657977  37.734452   0.25265
48    55.792326  37.706470   0.18365
50    55.691755  37.622369   0.06021
51    55.691856  37.623582   0.06059
52    55.692389  37.622729   0.05972
53    55.820794  37.648708   0.09430
55    55.764860  37.631829   0.03274
57    55.816859  37.644046   0.08523
58    55.800448  37.594584   0.06675
...         ...        ...       ...
3095  55.689730  37.527148   0.18986
3096  55.836317  37.511643   0.22733
3097  55.677763  37.854629   0.48087
3098  55.780891  37.620519   0.03071
3100  55.800595  37.636671   0.06330
3101  55.800833  37.639365   0.06696
3102  55.800833  37.639365   0.06696
3103  55.800084  37.637497   0.06395
3104  55.800833  37.639365   0.06696
3105  55.800286  37.639563   0.06682
3106  55.800833  37.639365   0.06696
3109  55.704763  37.658410   0.09485
3111  55.787158  37.722972   0.21501
3112  55.786247  37.720079   0.20915
3113  55.786521  37.722576   0.21412
3119  55.859590  37.578046   0.13365
3121  55.835073  37.503118   0.24279
3122  55.835073  37.503118   0.24279
3123  55.835073  37.503118   0.24279
3124  55.835498  37.500414   0.24801
3125  55.818291  37.522046   0.20148
3126  55.800833  37.639365   0.06696
3130  55.792969  37.708293   0.18735
3141  55.758524  37.658760   0.08386
3142  55.659201  37.727320   0.23898
3146  55.721731  37.636033   0.04802
3147  55.614826  37.587416   0.14847
3149  55.708354  37.652705   0.08317
3150  55.614826  37.587416   0.14847
3151  55.786900  37.671867   0.11546

[1954 rows x 11 columns]

array([[-2.94019133e-01, -2.30754993e-01, -8.50470069e-01, ...,
        -1.70871113e+00, -1.94841224e+00,  2.01179132e+00],
       [-7.75937377e-02,  7.74952482e-02, -5.10802141e-01, ...,
         4.21492520e-01,  6.79631533e-01, -3.71951819e-01],
       [-3.15468436e-01, -2.03499125e-01, -1.30024871e-03, ...,
        -3.84584458e-01, -1.59500452e+00,  1.26580109e+00],
       ...,
       [-3.01555375e-01, -2.56064014e-01, -8.50470069e-01, ...,
        -6.04924269e-01,  4.27774084e-01, -7.10092312e-01],
       [ 7.02325369e-02, -2.95000968e-01,  5.08201644e-01, ...,
        -2.01991615e+00, -2.90314959e-01, -1.08769485e-01],
       [ 1.53110396e+00, -2.44382927e-01, -3.40968177e-01, ...,
         5.83403852e-01,  6.38529682e-01, -4.12746002e-01]])

Можно написать свой скелер, чтобы он не скейлил категориальные признаки.

In [41]:
clf = KNeighborsClassifier()
scores = cross_val_score(clf, X_data, y_data, cv=15)
print(scores)
print("Accuracy: %0.2f (+/- %0.2f)" % (scores.mean(), scores.std() * 2))

[0.72932331 0.72180451 0.73484848 0.77272727 0.72519084 0.66412214
 0.73076923 0.74418605 0.65116279 0.66666667 0.75193798 0.75968992
 0.75968992 0.70542636 0.80620155]
Accuracy: 0.73 (+/- 0.08)

In [42]:
clf.fit(X_data, y_data)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=5, p=2,
           weights='uniform')

In [49]:
Target_data = null_classes.drop(['class'], axis=1)
Target_data.drop(ohe_features, axis=1, inplace=True)
Target_data = pd.DataFrame(scaler.transform(Target_data))
for feature in ohe_features:
    Target_data = np.append(Target_data, np.array([null_classes[feature]]).T, axis=1)

In [50]:
print(pd.DataFrame(X_data).head(5))

         0         1         2         3         4         5         6    7   \
0 -0.294019 -0.230755 -0.850470 -0.802013 -1.708711 -1.948412  2.011791  1.0
1 -0.077594  0.077495 -0.510802  1.752402  0.421493  0.679632 -0.371952  1.0
2 -0.315468 -0.203499 -0.001300  1.752402 -0.384584 -1.595005  1.265801  1.0
3  1.618061 -0.295001 -0.850470  1.326666  0.206433 -0.076612 -1.263346  0.0
4 -0.215178 -0.295001 -0.510802  0.475194 -0.421333  0.018042 -1.193545  1.0

    8    9    10
0  0.0  0.0  0.0
1  0.0  1.0  1.0
2  1.0  1.0  1.0
3  0.0  0.0  1.0
4  0.0  1.0  1.0

In [51]:
#Target_data['class'] = clf.predict(Target_data)
classes = clf.predict(Target_data)

In [52]:
classes

array(['b', 'b', 'b', ..., 'b', 'b', 'b'], dtype=object)

In [53]:
data.loc[data['class'].isnull(), 'class'] = classes

In [54]:
data.head(5)

,size,class,price,pledge,near_metro,parking,internet,meal,security,comfort,lat,lon,distance
0,28.8,b,1354,39000,700.0,0,0,0,0,1,55.745093,37.664815,0.09581
1,588.2,b,850,500000,700.0,1,0,0,0,1,55.745093,37.664815,0.09581
2,45.0,b,1111,50000,200.0,1,0,0,1,0,55.759659,37.752850,0.27184
3,100.0,b,1700,170000,700.0,1,0,0,1,0,55.569026,37.588647,0.19060
4,190.0,c,789,150000,1200.0,0,1,0,0,0,55.757496,37.802086,0.37023

In [55]:
data.to_csv('data_with_classes_and_metros.csv')